[Desktop Entry]
Version=1.5
Type=Application
Name=cythonize -3 --inplace
NoDisplay=true
Icon=application-x-executable
Exec=cythonize -3 --inplace %f
Terminal=true
MimeType=text/x-python;text/x-cython
Categories=Development
