[Desktop Entry]
Version=1.5
Type=Application
Name=dart run
NoDisplay=true
Icon=application-x-executable
Exec=dart run %f
Terminal=true
MimeType=text/x-dart
Categories=Development
