[Desktop Entry]
Version=1.5
Type=Application
Name=nim e
NoDisplay=true
Icon=application-x-executable
Exec=nim e %f
Terminal=true
MimeType=text/plain
Categories=Utility
