[Desktop Entry]
Version=1.5
Type=Application
Name=nim r
NoDisplay=true
Icon=application-x-executable
Exec=nim r %f
Terminal=true
MimeType=text/x-nim
Categories=Development
