[Desktop Entry]
Version=1.5
Type=Application
Name=python3
NoDisplay=true
Icon=application-x-executable
Exec=python3 %f
Terminal=true
MimeType=text/x-python
Categories=Development;Science;Utility
