[Desktop Entry]
Version=1.5
Type=Application
Name=python
NoDisplay=true
Icon=application-x-executable
Exec=python %f
Terminal=true
MimeType=text/x-python
Categories=Development;Science;Utility
