[Desktop Entry]
Version=1.5
Type=Application
Name=v run
NoDisplay=true
Icon=application-x-executable
Exec=v run %f
Terminal=true
MimeType=text/plain
Categories=Development
