[Desktop Entry]
Version=1.5
Type=Application
Name=bzip2 -d
NoDisplay=true
Icon=application-x-executable
Exec=bzip2 -d %F
Terminal=true
MimeType=application/x-bzip2
Categories=Utility
