[Desktop Entry]
Version=1.5
Type=Application
Name=chmod 700
NoDisplay=true
Icon=application-x-executable
Exec=chmod 700 %F
Terminal=true
MimeType=application/octet-stream;application/*;audio/*;font/*;image/*;model/*;text/plain;text/*;video/*
Categories=Utility
