[Desktop Entry]
Version=1.5
Type=Application
Name=ed
NoDisplay=true
Icon=application-x-executable
Exec=ed %f
Terminal=true
MimeType=text/plain;text/*
Categories=Utility
