[Desktop Entry]
Version=1.5
Type=Application
Name=gzip -9
NoDisplay=true
Icon=application-x-executable
Exec=gzip -9 %F
Terminal=false
MimeType=application/octet-stream;application/*;audio/*;font/*;image/*;model/*;text/plain;text/*;video/*
Categories=Utility
