[Desktop Entry]
Version=1.5
Type=Application
Name=less
NoDisplay=true
Icon=application-x-executable
Exec=less %f
Terminal=true
MimeType=text/plain;text/*
Categories=Utility
