[Desktop Entry]
Version=1.5
Type=Application
Name=lzma -d
NoDisplay=true
Icon=application-x-executable
Exec=lzma -d %F
Terminal=true
MimeType=application/x-lzma
Categories=Utility
