[Desktop Entry]
Version=1.5
Type=Application
Name=lzop
NoDisplay=true
Icon=application-x-executable
Exec=lzop %F
Terminal=true
MimeType=application/octet-stream;application/*;audio/*;font/*;image/*;model/*;text/plain;text/*;video/*
Categories=Utility
