[Desktop Entry]
Version=1.5
Type=Application
Name=zstd -19
NoDisplay=true
Icon=application-x-executable
Exec=zstd -19 %F
Terminal=true
MimeType=application/octet-stream;application/*;audio/*;font/*;image/*;model/*;text/plain;text/*;video/*
Categories=Utility
